<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TasarimCalismasi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF60E3272AB0CC43009B4461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF60E33D2AB0CC44009B4461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF60E3472AB0CC44009B4461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
